# MongoDB Connection
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/trishal_nazrul_academy

# JWT Secret Key (যেকোনো random string)
JWT_SECRET=your-secret-key-here

# Cloudinary (Image Upload)
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>

# Server Port
PORT=3005

# Frontend URL (CORS এর জন্য)
FRONTEND_URL=https://nazrul-academy.vercel.app